{
    "extends": ["airbnb"],
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "commonjs": true
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "quotes": ["error", "single"],
      "linebreak-style":"off"
    }
  }